.main-sec {
    background-image: url(../images/main-dubai.jpg);
    background-size: cover;
    width: 100%;
    height: 50vh;
}

.main-sec .image-overlay {
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(120deg, rgba(25, 96, 240, 0.4), rgba(25, 96, 240, 9));
}

.main-sec h3 {
    font-weight: 900;
    font-size: 38px;
    line-height: 1.3;
    color: #fff;
    text-align: center;
}
.main-sec p {
    color: #fff;
    text-align: center;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #8ECBFF;
    transition: 0.3s;
    text-decoration: none;
}

.main-links li {
    margin-top: 12px;
}

.main-links i {  
    display: inline;
    font-size: 38px;
    color: #8A8A8A;
    margin-right: 15px;
}

